.contact_section {
  padding-top: 1px;

  .contact_social_icons {
    margin-bottom: 20px;

    @include for-phone-only {
      margin-bottom: 10px;
    }

    a {
      margin-right: -8px;
      font-size: 2.4rem;

      @include for-phone-only {
        margin-right: 5px;
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-bottom: 140px;

    @include for-tablet-landscape-up {
      width: 80%;
    }

    @include for-tablet-portrait-down {
      width: 100%;
    }

    @include for-phone-only {
      margin-bottom: 100px;
    }

    input,
    textarea {
      padding: 8px 16px;
      height: 46px;
      font-size: 1.8rem;
      font-family: $font2;
      border: 1px solid #ccc;
      margin-bottom: 20px;
      border-radius: 2px;

      @include for-phone-only {
        padding: 10px 14px;
        height: 40px;
        font-size: 1.2rem;
        margin-bottom: 14px;
      }

      &:focus {
        outline: 1px solid $green;
        border: 1px solid transparent;
        background: #fafafa;
      }
    }

    textarea {
      padding: 16px;
      resize: none;
      height: auto;
      line-height: 2.6rem;

      @include for-phone-only {
        padding: 10px 14px;
        height: 180px;
        line-height: 1.8rem;
        margin-bottom: 5px;
      }
    }

    .honeypot {
      display: none;
    }

    button {
      font-family: $font2;
      text-transform: uppercase;
      color: #fff;
      padding: 16px 20px;
      font-size: 2rem;
      background-color: $green;
      border: none;
      cursor: pointer;
      border-radius: 2px;
      transition: 0.3s;

      @include for-phone-only {
        font-size: 1.4rem;
        padding: 10px;
      }

      &:hover {
        opacity: 0.9;
        color: #fff;
      }

      &:active {
        outline: none;
        opacity: 0.8;
      }
    }

    p {
      color: $green;
      font-size: 1.4rem;
      font-weight: 700;

      @include for-phone-only {
        font-size: 0.8rem;
        font-weight: 400;
        margin-bottom: 40px;
      }
    }
  }
}
