.contact_section {
  padding-top: 1px;

  .contact_social_icons {
    margin-bottom: 20px;
    a {
      margin-right: -10px;
      font-size: 3rem;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-bottom: 200px;

    @include for-tablet-portrait-down {
      width: 100%;
    }

    input,
    textarea {
      padding: 10px 20px;
      height: 50px;
      font-size: 1.8rem;
      font-family: $font2;
      border: 1px solid $black_mid;
      margin-bottom: 20px;
      border-radius: 2px;

      &:focus {
        outline: 1px solid $green;
        border: 1px solid transparent;
        background: #fafafa;
      }
    }

    textarea {
      padding: 20px;
      resize: none;
      height: auto;
    }

    .honeypot {
      display: none;
    }

    button {
      @include btn_primary;
      color: #fff;
      padding: 20px 20px;
      font-size: 2rem;
      border-radius: 2px;

      &:hover {
        background: $green;
        border: 1px solid $green;
        color: #fff;
      }
    }

    p {
      color: $green;
      font-size: 1.4rem;
      font-weight: 700;
    }
  }
}
