.contact_section {
  padding-top: 1px;

  .contact_social_icons {
    margin-bottom: 20px;

    @include for-phone-only {
      margin-bottom: 10px;
    }

    a {
      margin-right: -10px;
      font-size: 3rem;

      @include for-phone-only {
        margin-right: 5px;
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-bottom: 200px;

    @include for-tablet-portrait-down {
      width: 100%;
    }

    input,
    textarea {
      padding: 10px 20px;
      height: 50px;
      font-size: 1.8rem;
      font-family: $font2;
      border: 1px solid $black_mid;
      margin-bottom: 20px;
      border-radius: 2px;

      @include for-phone-only {
        padding: 10px 14px;
        height: 38px;
        font-size: 1.2rem;
        margin-bottom: 14px;
      }

      &:focus {
        outline: 1px solid $green;
        border: 1px solid transparent;
        background: #fafafa;
      }
    }

    textarea {
      padding: 20px;
      resize: none;
      height: auto;
      line-height: 2.4rem;

      @include for-phone-only {
        padding: 10px 14px;
        height: 180px;
        line-height: 1.8rem;
        margin-bottom: 5px;
      }
    }

    .honeypot {
      display: none;
    }

    button {
      @include btn_primary;
      color: #fff;
      padding: 20px 20px;
      font-size: 2rem;
      border-radius: 2px;

      @include for-phone-only {
        font-size: 1.4rem;
        padding: 10px;
      }

      &:hover {
        background: $green;
        border: 1px solid $green;
        color: #fff;
      }
    }

    p {
      color: $green;
      font-size: 1.4rem;
      font-weight: 700;

      @include for-phone-only {
        font-size: 0.8rem;
        font-weight: 400;
        margin-bottom: 40px;
      }
    }
  }
}
