.section_title {
  &::before {
    content: "";
    display: block;
    width: 80px;
    height: 1rem;
    background-color: $black_light;
    margin-bottom: 40px;

    @include for-tablet-portrait-down {
      margin-top: 100px;
      height: 0.8rem;
      width: 60px;
    }
  }
  h2 {
    color: $green;
    opacity: 0.6;
    font-family: $font1;
    font-size: 4.8rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;

    @include for-tablet-portrait-down {
      font-size: 2.8rem;
    }
  }
  p {
    font-family: $font2;
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 80px;

    @include for-tablet-portrait-down {
      font-size: 1.8rem;
    }
  }
}

h3 {
  font-family: $font1;
  font-weight: 700;
  font-size: 3.4rem;
  color: $black_mid;

  @include for-tablet-portrait-down {
    font-size: 3.6rem;
  }
}

.social_icon {
  color: $black;

  .fa-linkedin,
  .fa-github,
  .fa-envelope {
    margin-right: 30px;

    @include for-tablet-portrait-down {
      margin-right: 24px;
      font-size: 2rem;
    }

    &:hover {
      color: #555;
      transition: 0.4s;
    }
    &:active {
      color: rgb(0, 187, 0);
    }
    &:visited {
      color: $black;
    }
  }
}
