.hero {
  display: flex;
  justify-content: space-between;
  padding: 200px 0 130px 0;
  min-height: 840px;

  @include for-tablet-portrait-down {
    padding: 250px 0 110px;
    min-height: 760px;
  }

  @include for-phone-only {
    flex-direction: column;
    padding-top: 140px;
    min-height: 500px;
  }

  .hero_left {
    max-width: 570px;
    width: 65%;

    @include for-phone-only {
      width: 100%;
    }

    h1 {
      @include jumbo_title;
      line-height: 7.2rem;

      @include for-tablet-portrait-down {
        font-size: 5.8rem;
        line-height: 60px;
      }

      @include for-phone-only {
        font-size: 3rem;
        line-height: 2.8rem;
      }

      &::after {
        content: "";
        width: 49%;
        height: 14px;
        background-color: $green;
        margin-top: 10px;
        display: block;

        @include for-tablet-portrait-down {
          height: 12px;
          margin-top: 8px;
        }

        @include for-phone-only {
          width: 170px;
          height: 8px;
          margin-top: 10px;
          margin-bottom: 0px;
        }
      }
    }

    h4 {
      @include sub_title;
      margin-top: 30px;
      max-width: 450px;

      @include for-tablet-portrait-down {
        font-size: 2rem;
        line-height: 3rem;
        margin-top: 40px;
      }

      @include for-phone-only {
        font-size: 1.2rem;
        line-height: 1.6rem;
        margin-top: 20px;
        margin-bottom: 40px;
        width: 100%;
      }
    }
  }

  .hero_right {
    display: flex;
    flex-direction: column;
    width: 30%;

    @include for-phone-only {
      margin-top: 0px;
      width: 50%;
    }

    img {
      border-radius: 5px;
      // width: 290px;

      @include for-tablet-portrait-down {
        width: 100%;
        // max-width: 220px;
      }

      @include for-phone-only {
        margin-bottom: 15px;
        margin-top: 0px;
      }
    }

    .hero_social_icons {
      font-size: 2.4rem;

      @include for-tablet-portrait-down {
        font-size: 1.4rem;
      }

      @include for-phone-only {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
      }
    }
  }

  .hero_arrow_down {
    display: block;
    position: absolute;
    bottom: 20px;
    left: 48.6%;
    z-index: 2;
    animation: float 2.3s ease-in-out infinite;

    @include for-tablet-portrait-down {
      display: none;
    }
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
