.hero {
  display: flex;
  justify-content: space-between;
  padding: 130px 0;
  min-height: 840px;

  .hero_left {
    max-width: 570px;

    h1 {
      @include jumbo_title;
      line-height: 84px;

      &::after {
        content: "";
        width: 49%;
        height: 14px;
        background-color: $green;
        margin-top: 10px;
        display: block;
      }
    }

    h4 {
      @include sub_title;
      margin-top: 30px;
      max-width: 450px;
    }
  }

  .hero_right {
    display: flex;
    flex-direction: column;
    img {
      border-radius: 5px;
      width: 290px;
    }

    .hero_social_icons {
      font-size: 2.4rem;

      a {
        color: $black;

        .fa-linkedin,
        .fa-github,
        .fa-envelope {
          margin-right: 30px;

          &:hover {
            color: $green;
            transition: 0.4s;
          }
          &:active {
            color: rgb(0, 187, 0);
          }
          &:visited {
            color: $black;
          }
        }
      }
    }
  }

  .hero_arrow_down {
    display: block;
    position: absolute;
    bottom: 20px;
    left: 48.6%;
    z-index: 2;
    animation: float 2.3s ease-in-out infinite;
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
