.hero {
  display: flex;
  justify-content: space-between;
  padding: 130px 0;
  min-height: 800px;

  .hero_left {
    h1 {
      @include jumbo_title;
      line-height: 64px;
    }

    h4 {
      //
    }
  }

  .hero_right {
    display: flex;
    flex-direction: column;
    img {
      border-radius: 5px;
      width: 275px;
    }

    .hero_social_icons {
      font-size: 2.4rem;
      .fa-linkedin,
      .fa-github,
      .fa-envelope {
        margin-right: 30px;
      }
    }
  }

  .hero_arrow_down {
    display: block;
    position: absolute;
    bottom: 20px;
    left: 48.6%;
    // right: 0;
    z-index: 2;
    animation: float 2.3s ease-in-out infinite;
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
