@mixin jumbo_title {
  font-family: $font1;
  font-size: 7.2rem;
  font-weight: 800;
  letter-spacing: 0;
}

@mixin navlink_text {
  // also used for button text
  color: #fff;
  font-family: $font2;
  font-size: 1.4rem;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}

@mixin btn_primary {
  border: none;
  background: $black;

  &:hover {
    background: #fff;
    border: 0.5px solid $black;
    color: $black;
  }
}

@mixin btn_secondary {
  background: #fff;
  border: 0.5px solid $black;
  color: $black;

  &:hover {
    border: none;
    background: $black;
    color: #fff;
  }
}
