.nav_black_bg {
  background-color: $black;
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
  height: 120px;
  z-index: -1;
}

.navbar {
  background-size: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  padding: 15px 0;
  margin: 0 auto;
  height: 120px;

  a {
    text-decoration: none;
  }
}

.navlinks {
  width: 350px;
  display: flex;
  justify-content: space-between;

  a {
    @include navlink_text;

    &:hover {
      color: #666;
    }
  }

  .active_nav_item {
    color: $green;
  }
}
