#projects {
  padding-top: 1px;

  .project_summary_container {
    margin-left: 0;
    margin-top: 80px;
    margin-bottom: 80px;

    @include for-phone-only {
      margin-top: 40px;
    }

    .homepage_project_item:last-of-type {
      border: none;

      @include for-phone-only {
        margin-bottom: 40px;
      }
    }

    .homepage_project_item {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      list-style: none;
      border-bottom: 1px solid $black_mid;
      margin-bottom: 100px;
      padding-bottom: 30px;

      .homepage_project_summary {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 80px;

        @include for-phone-only {
          flex-direction: column-reverse;
          margin-bottom: 40px;
        }

        .project_description {
          width: 60%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          @include for-tablet-portrait-down {
            width: 55%;
          }

          @include for-phone-only {
            width: 100%;
            padding-top: 20px;
          }

          h3 {
            @include for-phone-only {
              font-size: 2rem;
              margin-bottom: 20px;
            }
          }

          h4 {
            @include for-phone-only {
              font-size: 1.1rem;
              font-weight: 400;
              margin-top: -10px;
            }
          }

          p {
            @include for-phone-only {
              font-size: 1.4rem;
              line-height: 1.6rem;
              margin-bottom: 40px;
            }
          }
        }

        .project_tech_stack {
          // margin-bottom: 60px;

          .tech_stack {
            color: $green;
            font-family: $font1;
            font-weight: 700;
            font-size: 1.4rem;
            opacity: 1;
            text-transform: uppercase;

            @include for-phone-only {
              display: block;
              margin-bottom: 10px;
              font-size: 1.2rem;
            }
          }
          .tech {
            display: inline-block;
            font-size: 1.4rem;
            color: #666;
            background: $light_grey;
            border-radius: 2px;
            padding: 4px 8px;
            margin-bottom: 5px;
            margin-right: 5px;

            @include for-phone-only {
              font-size: 1.2rem;
              margin-bottom: 10px;
              margin-right: 10px;
            }
          }
        }

        span {
          color: $green;
          opacity: 0.6;
          font-size: 6.4rem;
          margin-right: 5px;
        }

        p {
          @include body_text;
          margin-bottom: 25px;
        }

        h4 {
          color: $green;
          font-size: 1.8rem;
        }
      }
      .buttons_container {
        display: flex;
        width: 100%;

        @include for-phone-only {
          flex-direction: column;
        }

        button {
          color: #fff;
          padding: 10px 20px;
          margin-right: 15px;
          @include btn_primary;

          @include for-tablet-portrait-down {
            padding: 8px 20px;
            font-size: 1.4rem;
          }

          @include for-phone-only {
            margin-bottom: 10px;
            font-size: 1.2rem;
            width: 100%;
          }
        }
      } // end of .buttons_container
    }
    .project_thumbnail {
      width: 38%;
      height: 100%;

      @include for-tablet-portrait-down {
        width: 40%;
        padding-top: 60px;
      }

      @include for-phone-only {
        padding-top: 0;
        width: 100%;
      }
    }
  }
}
